# Xilinx AC701 (Artix-7 XC7A200TF-BG676-2)
## 200 MHz Clock input
NET  "SYSCLK_P"                  LOC = AD12   | IOSTANDARD=LVDS;
NET  "SYSCLK_N"                  LOC = AD11   | IOSTANDARD=LVDS;
NET  "CPU_RESET"                 LOC = AB7    | IOSTANDARD=LVCMOS15;

NET  "GPIO_LED<0>"                LOC = AB8  | IOSTANDARD=LVCMOS15;
NET  "GPIO_LED<1>"                LOC = AA8  | IOSTANDARD=LVCMOS15;
NET  "GPIO_LED<2>"                LOC = AC9  | IOSTANDARD=LVCMOS15;
NET  "GPIO_LED<3>"                LOC = AB9  | IOSTANDARD=LVCMOS15;
NET  "GPIO_LED<4>"                LOC = AE26  | IOSTANDARD=LVCMOS25;
NET  "GPIO_LED<5>"                LOC = G19  | IOSTANDARD=LVCMOS25;
NET  "GPIO_LED<6>"                LOC = E18  | IOSTANDARD=LVCMOS25;
NET  "GPIO_LED<7>"                LOC = F16  | IOSTANDARD=LVCMOS25;

#NET  GPIO_SW_S                 LOC = AB12   | IOSTANDARD=LVCMOS15;
#NET  GPIO_SW_W                 LOC = AC6   | IOSTANDARD=LVCMOS15;
#NET  GPIO_SW_C                 LOC = G12   | IOSTANDARD=LVCMOS25;
#NET  GPIO_SW_E                 LOC = AG5   | IOSTANDARD=LVCMOS15;
#NET  GPIO_SW_N                 LOC = AA12   | IOSTANDARD=LVCMOS15;

NET  "USER_SMAGPIO_P"                LOC = Y23  | IOSTANDARD=LVCMOS25;
NET  "USER_SMAGPIO_N"                LOC = Y24  | IOSTANDARD=LVCMOS25;

# 200-MHz system clock
NET "SYSCLK_P" TNM_NET = "SYSCLK_P";
TIMESPEC "TS_SYSCLK_P" = PERIOD "SYSCLK_P"  4.5 ns HIGH 50% INPUT_JITTER 0.05 ns;
NET "SYSCLK_N" TNM_NET = "SYSCLK_N";
TIMESPEC "TS_SYSCLK_N" = PERIOD "SYSCLK_N"  4.5 ns HIGH 50% INPUT_JITTER 0.05 ns;
