# Unused for now
#NET  "PHY_MDC"                   LOC = R23  | IOSTANDARD=LVCMOS25;
#NET  "PHY_MDIO"                  LOC = J21  | IOSTANDARD=LVCMOS25;
#NET  "PHY_INT"                   LOC = N30  | IOSTANDARD=LVCMOS25;
#NET  "PHY_CRS"                   LOC = R30  | IOSTANDARD=LVCMOS25;
#NET  "PHY_COL"                   LOC = W19  | IOSTANDARD=LVCMOS25;

NET  "PHY_RESET_B"              LOC = L20  | IOSTANDARD=LVCMOS25;
NET  "PHY_RXCLK"                LOC = U27  | IOSTANDARD=LVCMOS25;
NET  "PHY_RXER"                 LOC = V26  | IOSTANDARD=LVCMOS25;
NET  "PHY_RXCTL_RXDV"           LOC = R28  | IOSTANDARD=LVCMOS25;
NET  "PHY_RXD<0>"               LOC = U30  | IOSTANDARD=LVCMOS25;
NET  "PHY_RXD<1>"               LOC = U25  | IOSTANDARD=LVCMOS25;
NET  "PHY_RXD<2>"               LOC = T25  | IOSTANDARD=LVCMOS25;
NET  "PHY_RXD<3>"               LOC = U28  | IOSTANDARD=LVCMOS25;
NET  "PHY_RXD<4>"               LOC = R19  | IOSTANDARD=LVCMOS25;
NET  "PHY_RXD<5>"               LOC = T27  | IOSTANDARD=LVCMOS25;
NET  "PHY_RXD<6>"               LOC = T26  | IOSTANDARD=LVCMOS25;
NET  "PHY_RXD<7>"               LOC = T28  | IOSTANDARD=LVCMOS25;

NET  "PHY_TXCLK"                LOC = M28  | IOSTANDARD=LVCMOS25;
NET  "PHY_TXER"                 LOC = N29  | IOSTANDARD=LVCMOS25;
NET  "PHY_TXCTL_TXEN"           LOC = M27  | IOSTANDARD=LVCMOS25;
NET  "PHY_TXC_GTXCLK"           LOC = K30  | IOSTANDARD=LVCMOS25;
NET  "PHY_TXD<0>"               LOC = N27  | IOSTANDARD=LVCMOS25;
NET  "PHY_TXD<1>"               LOC = N25  | IOSTANDARD=LVCMOS25;
NET  "PHY_TXD<2>"               LOC = M29  | IOSTANDARD=LVCMOS25;
NET  "PHY_TXD<3>"               LOC = L28  | IOSTANDARD=LVCMOS25;
NET  "PHY_TXD<4>"               LOC = J26  | IOSTANDARD=LVCMOS25;
NET  "PHY_TXD<5>"               LOC = K26  | IOSTANDARD=LVCMOS25;
NET  "PHY_TXD<6>"               LOC = L30  | IOSTANDARD=LVCMOS25;
NET  "PHY_TXD<7>"               LOC = J28  | IOSTANDARD=LVCMOS25;

NET "PHY_RXCLK" TNM_NET = "PHY_RXCLK";
TIMESPEC "TS_PHY_RXCLK" = PERIOD "PHY_RXCLK" 7.2 ns HIGH 50% INPUT_JITTER 1 ns;
