stages:
  - build
  - test
  - synthesis
  - program

variables:
  XILINX_VIVADO: /non-free/Xilinx/Vivado/2018.1
  CI_REGISTRY: mohs.dhcp.lbl.gov
  CONTAINER_IMAGE: $CI_REGISTRY/testing_base
  CONTAINER_IM_IMAGE: $CI_REGISTRY/riscv_bloat
  DOCKER_HOST: tcp://docker:2375/
  DOCKER_DRIVER: overlay2

image: $CONTAINER_IMAGE:$CI_COMMIT_REF_NAME

services:
  - name: mohs.dhcp.lbl.gov/docker:19.03.15-dind
    command: ["--insecure-registry", "mohs.dhcp.lbl.gov"]
    alias: docker
#    entrypoint: ["dockerd-entrypoint.sh"]

include:
  - local: .gitlab/ci/build.gitlab-ci.yml
  - local: .gitlab/ci/serial_io.gitlab-ci.yml
  - local: .gitlab/ci/soc.gitlab-ci.yml
  - local: .gitlab/ci/oscope.gitlab-ci.yml
  - local: .gitlab/ci/cmoc.gitlab-ci.yml
  - local: .gitlab/ci/comms_top.gitlab-ci.yml
  - local: .gitlab/ci/dsp.gitlab-ci.yml
  - local: .gitlab/ci/marble_family.gitlab-ci.yml

leep_test:
  script:
    - cd projects/common && python3 -m unittest -v

cordic_test:
  before_script:
    - cd cordic && make clean
  stage: test
  script:
    - make all

freq_demo:
  stage: test
  script:
    - cd homeless/freq_demo && make

make_docs:
  before_script:
    - cd build-tools/make-demo && make clean
  stage: test
  script:
    - make check && make makefile.md && cmp ../makefile.md makefile.md

flake8:
  stage: synthesis
  script:
   - find . -name "*.py" | xargs flake8

badger_test:
  before_script:
    - cd badger/tests && make clean && sh ./tap-setup.sh
  stage: test
  script:
    - make && bash tftp_test.sh && bash speed_check.sh

peripheral_test:
  before_script:
    - cd peripheral_drivers
  stage: test
  script:
    - make
    - cd idelay_scanner && make ; cd -
    - cd ds1822 && make ; cd -
    - cd i2cbridge && make

badger_ac701:
  stage: synthesis
  before_script:
    - cd badger/tests && ls /non-free
  script:
    - PATH=$XILINX_VIVADO/bin:$PATH make ac701_rgmii_vtest.bit
  artifacts:
    name: "$CI_JOB_NAME-$CI_COMMIT_REF_NAME"
    expire_in: 2 days
    paths:
      - badger/tests/ac701_rgmii_vtest.bit

badger_ac701_run:
  stage: program
  tags:
    - deploy
  dependencies:
    - badger_ac701
  script:
    - cd badger/tests && test -r ac701_rgmii_vtest.bit && sh teststand_ac701.sh
