stages:
  - build
  - test
  - synthesis
  - program
  - docs

variables:
  XILINX_VIVADO: /non-free/Xilinx/Vivado/2020.2
  CI_REGISTRY: mohs.dhcp.lbl.gov
  CONTAINER_IMAGE: $CI_REGISTRY/testing_base_bookworm
  # CONTAINER_IM_IMAGE: $CI_REGISTRY/riscv_bloat
  DOCKER_HOST: tcp://docker:2375/
  DOCKER_DRIVER: overlay2

image: $CONTAINER_IMAGE:$CI_COMMIT_REF_NAME

services:
  - name: mohs.dhcp.lbl.gov/docker:20.10.12-dind
    command: ["--insecure-registry", "mohs.dhcp.lbl.gov"]
    alias: docker
#    entrypoint: ["dockerd-entrypoint.sh"]

include:
  - local: .gitlab/ci/badger.gitlab-ci.yml
  - local: .gitlab/ci/build.gitlab-ci.yml
  - local: .gitlab/ci/board_support.gitlab-ci.yml
  - local: .gitlab/ci/docs.gitlab-ci.yml
  - local: .gitlab/ci/serial_io.gitlab-ci.yml
  - local: .gitlab/ci/other_hdl.gitlab-ci.yml
  - local: .gitlab/ci/soc.gitlab-ci.yml
  - local: .gitlab/ci/oscope.gitlab-ci.yml
  - local: .gitlab/ci/cmoc.gitlab-ci.yml
  - local: .gitlab/ci/comms_top.gitlab-ci.yml
  - local: .gitlab/ci/dsp.gitlab-ci.yml
  - local: .gitlab/ci/marble_family.gitlab-ci.yml
  - local: .gitlab/ci/swap_gitid.gitlab-ci.yml
  - local: .gitlab/ci/cdc_check.gitlab-ci.yml
  - local: .gitlab/ci/localbus.gitlab-ci.yml
  - local: .gitlab/ci/ctrace.gitlab-ci.yml
  - local: .gitlab/ci/leep.gitlab-ci.yml

leep_test:
  script:
    - cd projects/common && PYTHONPATH=../../build-tools python3 -m unittest -v

flake8:
  stage: test
  script:
    - find . -name "*.py" -exec flake8 {} +
