*~
*.o
*.d
*.pyc
*_tb
*.bak
*.sav
*.elf
*.map
*.lst
*.vcd
*32.hex
*.trace
*_synth.v
*.bit
_autogen/
_dep/
_xilinx/
*.bin
# system_top.xdc
*.jou
*.log
# sphinx files
_build/
_static/
_templates/
.*.swp
**/.*.swp
**/**/.*.swp
