
NET "PHY_RSTN"               LOC = "J22"       |SLEW=SLOW |IOSTANDARD=LVCMOS25;      #   36 RESET_B

NET "GMII_RX_CLK"            LOC = "P20"       |IOSTANDARD=LVCMOS25; #    7  RXCLK
NET "GMII_RX_ER"             LOC = "U20"       |IOSTANDARD=LVCMOS25; #    8   RXER
NET "GMII_RX_DV"             LOC = "T22"       |IOSTANDARD=LVCMOS25; #    4   RXDV
NET "GMII_RXD<0>"            LOC = "P19"       |IOSTANDARD=LVCMOS25; #    3   RXD0
NET "GMII_RXD<1>"            LOC = "Y22"       |IOSTANDARD=LVCMOS25; #  128   RXD1
NET "GMII_RXD<2>"            LOC = "Y21"       |IOSTANDARD=LVCMOS25; #  126   RXD2
NET "GMII_RXD<3>"            LOC = "W22"       |IOSTANDARD=LVCMOS25; #  125   RXD3
NET "GMII_RXD<4>"            LOC = "W20"       |IOSTANDARD=LVCMOS25; #  124   RXD4
NET "GMII_RXD<5>"            LOC = "V22"       |IOSTANDARD=LVCMOS25; #  123   RXD5
NET "GMII_RXD<6>"            LOC = "V21"       |IOSTANDARD=LVCMOS25; #  121   RXD6
NET "GMII_RXD<7>"            LOC = "U22"       |IOSTANDARD=LVCMOS25; #  120   RXD7

NET "GMII_GTX_CLK"           LOC = "AB7"       |SLEW=FAST |DRIVE=8 |IOSTANDARD=LVCMOS25; #   14 GTXCLK
NET "GMII_TX_CLK"            LOC = "L20"       |IOSTANDARD=LVCMOS25;                     #   10  TXCLK
NET "GMII_TX_ER"             LOC = "U8"        |SLEW=SLOW |DRIVE=4 |IOSTANDARD=LVCMOS25; #   13   TXER
NET "GMII_TX_EN"             LOC = "T8"        |SLEW=SLOW |DRIVE=4 |IOSTANDARD=LVCMOS25; #   16   TXEN
NET "GMII_TXD<0>"            LOC = "U10"       |SLEW=SLOW |DRIVE=4 |IOSTANDARD=LVCMOS25; #   18   TXD0
NET "GMII_TXD<1>"            LOC = "T10"       |SLEW=SLOW |DRIVE=4 |IOSTANDARD=LVCMOS25; #   19   TXD1
NET "GMII_TXD<2>"            LOC = "AB8"       |SLEW=SLOW |DRIVE=4 |IOSTANDARD=LVCMOS25; #   20   TXD2
NET "GMII_TXD<3>"            LOC = "AA8"       |SLEW=SLOW |DRIVE=4 |IOSTANDARD=LVCMOS25; #   24   TXD3
NET "GMII_TXD<4>"            LOC = "AB9"       |SLEW=SLOW |DRIVE=4 |IOSTANDARD=LVCMOS25; #   25   TXD4
NET "GMII_TXD<5>"            LOC = "Y9"        |SLEW=SLOW |DRIVE=4 |IOSTANDARD=LVCMOS25; #   26   TXD5
NET "GMII_TXD<6>"            LOC = "Y12"       |SLEW=SLOW |DRIVE=4 |IOSTANDARD=LVCMOS25; #   28   TXD6
NET "GMII_TXD<7>"            LOC = "W12"       |SLEW=SLOW |DRIVE=4 |IOSTANDARD=LVCMOS25; #   29   TXD7

# CPU_RESET button
NET "RESET"                  LOC = "H8"        |IOSTANDARD=LVCMOS15;  # SW6  CPU_RESET

NET "GMII_RX_CLK" TNM_NET = "GMII_RX_CLK";
TIMESPEC "TS_GMII_RX_CLK" = PERIOD "GMII_RX_CLK" 7.6 ns HIGH 50% INPUT_JITTER 0.4 ns;

# PHY spec: 2.5ns setup time, 0.5ns hold time
INST "GMII_RX_ER" TNM = GMII_RX_SIGS;
INST "GMII_RX_DV" TNM = GMII_RX_SIGS;
INST "GMII_RXD*"  TNM = GMII_RX_SIGS;
# TIMEGRP "GMII_RX_SIGS" OFFSET = IN 2.5 ns VALID 3.0 ns BEFORE "GMII_RX_CLK" RISING;

# Table 1-18: User LEDs
NET "LED<0>"     LOC = "D17"  | SLEW=SLOW | IOSTANDARD=LVCMOS25; # DS3 GPIO_LED_0 Green
NET "LED<1>"     LOC = "AB4"  | SLEW=SLOW | IOSTANDARD=LVCMOS25; # DS4 GPIO_LED_1 Green
NET "LED<2>"     LOC = "D21"  | SLEW=SLOW | IOSTANDARD=LVCMOS25; # DS5 GPIO_LED_2 Green
NET "LED<3>"     LOC = "W15"  | SLEW=SLOW | IOSTANDARD=LVCMOS25; # DS6 GPIO_LED_3 Green

# More-or-less fake attachment to FMC; I have no plans to hook this up
NET SCLK LOC=A19;  # H11 on J2, LA04_N
NET CSB  LOC=C19;  # H10 on J2, LA04_P
NET MOSI LOC=A4;   # D12 on J2, LA05_N

# Boot flash, U32 W25Q64VSFIG or J17 SPI Program Header
# Bank 2
net BOOT_CCLK  LOC=Y20;   # FPGA_CCLK
net BOOT_CS_B  LOC=AA3;   # SPI_CS_B
net BOOT_MISO  LOC=AA20;  # FPGA_D0_DIN_MISO_MISO1
net BOOT_MOSI  LOC=AB20;  # FPGA_MOSI_CSI_B_MISO

# 200 MHz Clock input
NET "SYSCLK_P" LOC = "K21" |IOSTANDARD=LVDS_25;
NET "SYSCLK_N" LOC = "K22" |IOSTANDARD=LVDS_25;
NET "SYSCLK_P" TNM_NET = "SYSCLK_P";
TIMESPEC "TS_SYSCLK_P" = PERIOD "SYSCLK_P"  5.0 ns HIGH 50 %;
