LOCATE COMP "SYSCLK_P" SITE "P3";
IOBUF PORT "SYSCLK_P" IO_TYPE=LVDS;

# Phy1
# See Table 11 of ECP5 Versa Development Board User Guide
LOCATE COMP "PHY_RSTN"  SITE "U17";
IOBUF PORT "PHY_RSTN"  IO_TYPE=LVCMOS25;

IOBUF PORT "RGMII_TXD[0]"  IO_TYPE=LVCMOS25;
IOBUF PORT "RGMII_TXD[1]"  IO_TYPE=LVCMOS25;
IOBUF PORT "RGMII_TXD[2]"  IO_TYPE=LVCMOS25;
IOBUF PORT "RGMII_TXD[3]"  IO_TYPE=LVCMOS25;
IOBUF PORT "RGMII_TX_CTRL" IO_TYPE=LVCMOS25;
IOBUF PORT "RGMII_TX_CLK"  IO_TYPE=LVCMOS25;

LOCATE COMP "RGMII_TXD[0]"  SITE "N19";
LOCATE COMP "RGMII_TXD[1]"  SITE "N20";
LOCATE COMP "RGMII_TXD[2]"  SITE "P18";
LOCATE COMP "RGMII_TXD[3]"  SITE "P20";
LOCATE COMP "RGMII_TX_CTRL" SITE "R20";
LOCATE COMP "RGMII_TX_CLK"  SITE "P19";

IOBUF PORT "RGMII_RXD[0]"  IO_TYPE=LVCMOS25;
IOBUF PORT "RGMII_RXD[1]"  IO_TYPE=LVCMOS25;
IOBUF PORT "RGMII_RXD[2]"  IO_TYPE=LVCMOS25;
IOBUF PORT "RGMII_RXD[3]"  IO_TYPE=LVCMOS25;
IOBUF PORT "RGMII_RX_CTRL" IO_TYPE=LVCMOS25;
IOBUF PORT "RGMII_RX_CLK"  IO_TYPE=LVCMOS25;

LOCATE COMP "RGMII_RXD[0]"  SITE "T20";
LOCATE COMP "RGMII_RXD[1]"  SITE "U20";
LOCATE COMP "RGMII_RXD[2]"  SITE "T19";
LOCATE COMP "RGMII_RXD[3]"  SITE "R18";
LOCATE COMP "RGMII_RX_CTRL" SITE "U19";
LOCATE COMP "RGMII_RX_CLK"  SITE "L20";

# SPI pins, can give access to configuration
# put on X4 as shown in Table 12
IOBUF PORT "SCLK" IO_TYPE=LVCMOS25;
IOBUF PORT "CSB"  IO_TYPE=LVCMOS25;
IOBUF PORT "MOSI" IO_TYPE=LVCMOS25;
LOCATE COMP "SCLK"  SITE "A12";
LOCATE COMP "CSB"   SITE "A13";
LOCATE COMP "MOSI"  SITE "B13";

# SPI boot flash programming port
# See schematic sheet 3
IOBUF PORT "BOOT_CCLK" IO_TYPE=LVCMOS25;
IOBUF PORT "BOOT_CS_B" IO_TYPE=LVCMOS25;
IOBUF PORT "BOOT_MISO" IO_TYPE=LVCMOS25;
IOBUF PORT "BOOT_MOSI" IO_TYPE=LVCMOS25;
LOCATE COMP "BOOT_CCLK"  SITE "D13";  # XXX fake
LOCATE COMP "BOOT_CS_B"  SITE "R2";
LOCATE COMP "BOOT_MISO"  SITE "V2";
LOCATE COMP "BOOT_MOSI"  SITE "W2";

# Somthing physical
IOBUF PORT "RESET" IO_TYPE=LVCMOS25;
LOCATE COMP "RESET" SITE "C13";  # XXX troubling

# General Purpose LEDS, see Table 7
IOBUF PORT LED[0] IO_TYPE=LVCMOS25;
IOBUF PORT LED[1] IO_TYPE=LVCMOS25;
IOBUF PORT LED[2] IO_TYPE=LVCMOS25;
IOBUF PORT LED[3] IO_TYPE=LVCMOS25;

LOCATE COMP "LED[0]" SITE "E16";
LOCATE COMP "LED[1]" SITE "D17";
LOCATE COMP "LED[2]" SITE "D18";
LOCATE COMP "LED[3]" SITE "E18";
