NET "FMC_LPC_CLK0_M2C_N"            LOC = "B10";    ## H5  on J63
NET "FMC_LPC_CLK0_M2C_P"            LOC = "A10";    ## H4  on J63
NET "FMC_LPC_CLK1_M2C_N"            LOC = "G33";    ## G3  on J63
NET "FMC_LPC_CLK1_M2C_P"            LOC = "F33";    ## G2  on J63
NET "FMC_LPC_DP0_C2M_N"             LOC = "D2";     ## C3  on J63
NET "FMC_LPC_DP0_C2M_P"             LOC = "D1";     ## C2  on J63
NET "FMC_LPC_DP0_M2C_N"             LOC = "G4";     ## C7  on J63
NET "FMC_LPC_DP0_M2C_P"             LOC = "G3";     ## C6  on J63
NET "FMC_LPC_GBTCLK0_M2C_N"         LOC = "M5";     ## D5  on J63
NET "FMC_LPC_GBTCLK0_M2C_P"         LOC = "M6";     ## D4  on J63
NET "FMC_LPC_IIC_SCL_LS"            LOC = "AF13";   ## 2   of Q26
NET "FMC_LPC_IIC_SDA_LS"            LOC = "AG13";   ## 2   of Q27
NET "FMC_LPC_LA00_CC_N"             LOC = "K27";    ## G7  on J63
NET "FMC_LPC_LA00_CC_P"             LOC = "K26";    ## G6  on J63
NET "FMC_LPC_LA01_CC_N"             LOC = "E31";    ## D9  on J63
NET "FMC_LPC_LA01_CC_P"             LOC = "F31";    ## D8  on J63
NET "FMC_LPC_LA02_N"                LOC = "H30";    ## H8  on J63
NET "FMC_LPC_LA02_P"                LOC = "G31";    ## H7  on J63
NET "FMC_LPC_LA03_N"                LOC = "J32";    ## G10 on J63
NET "FMC_LPC_LA03_P"                LOC = "J31";    ## G9  on J63
NET "FMC_LPC_LA04_N"                LOC = "J29";    ## H11 on J63
NET "FMC_LPC_LA04_P"                LOC = "K28";    ## H10 on J63
NET "FMC_LPC_LA05_N"                LOC = "H33";    ## D12 on J63
NET "FMC_LPC_LA05_P"                LOC = "H34";    ## D11 on J63
NET "FMC_LPC_LA06_N"                LOC = "J34";    ## C11 on J63
NET "FMC_LPC_LA06_P"                LOC = "K33";    ## C10 on J63
NET "FMC_LPC_LA07_N"                LOC = "H32";    ## H14 on J63
NET "FMC_LPC_LA07_P"                LOC = "G32";    ## H13 on J63
NET "FMC_LPC_LA08_N"                LOC = "K29";    ## G13 on J63
NET "FMC_LPC_LA08_P"                LOC = "J30";    ## G12 on J63
NET "FMC_LPC_LA09_N"                LOC = "L26";    ## D15 on J63
NET "FMC_LPC_LA09_P"                LOC = "L25";    ## D14 on J63
NET "FMC_LPC_LA10_N"                LOC = "G30";    ## C15 on J63
NET "FMC_LPC_LA10_P"                LOC = "F30";    ## C14 on J63
NET "FMC_LPC_LA11_N"                LOC = "D32";    ## H17 on J63
NET "FMC_LPC_LA11_P"                LOC = "D31";    ## H16 on J63
NET "FMC_LPC_LA12_N"                LOC = "E33";    ## G16 on J63
NET "FMC_LPC_LA12_P"                LOC = "E32";    ## G15 on J63
NET "FMC_LPC_LA13_N"                LOC = "C34";    ## D18 on J63
NET "FMC_LPC_LA13_P"                LOC = "D34";    ## D17 on J63
NET "FMC_LPC_LA14_N"                LOC = "B34";    ## C19 on J63
NET "FMC_LPC_LA14_P"                LOC = "C33";    ## C18 on J63
NET "FMC_LPC_LA15_N"                LOC = "B32";    ## H20 on J63
NET "FMC_LPC_LA15_P"                LOC = "C32";    ## H19 on J63
NET "FMC_LPC_LA16_N"                LOC = "B33";    ## G19 on J63
NET "FMC_LPC_LA16_P"                LOC = "A33";    ## G18 on J63
NET "FMC_LPC_LA17_CC_N"             LOC = "N29";    ## D21 on J63
NET "FMC_LPC_LA17_CC_P"             LOC = "N28";    ## D20 on J63
NET "FMC_LPC_LA18_CC_N"             LOC = "L30";    ## C23 on J63
NET "FMC_LPC_LA18_CC_P"             LOC = "L29";    ## C22 on J63
NET "FMC_LPC_LA19_N"                LOC = "N30";    ## H23 on J63
NET "FMC_LPC_LA19_P"                LOC = "M30";    ## H22 on J63
NET "FMC_LPC_LA20_N"                LOC = "R29";    ## G22 on J63
NET "FMC_LPC_LA20_P"                LOC = "P29";    ## G21 on J63
NET "FMC_LPC_LA21_N"                LOC = "T26";    ## H26 on J63
NET "FMC_LPC_LA21_P"                LOC = "R26";    ## H25 on J63
NET "FMC_LPC_LA22_N"                LOC = "P27";    ## G25 on J63
NET "FMC_LPC_LA22_P"                LOC = "N27";    ## G24 on J63
NET "FMC_LPC_LA23_N"                LOC = "R27";    ## D24 on J63
NET "FMC_LPC_LA23_P"                LOC = "R28";    ## D23 on J63
NET "FMC_LPC_LA24_N"                LOC = "P32";    ## H29 on J63
NET "FMC_LPC_LA24_P"                LOC = "N32";    ## H28 on J63
NET "FMC_LPC_LA25_N"                LOC = "P30";    ## G28 on J63
NET "FMC_LPC_LA25_P"                LOC = "P31";    ## G27 on J63
NET "FMC_LPC_LA26_N"                LOC = "M32";    ## D27 on J63
NET "FMC_LPC_LA26_P"                LOC = "L33";    ## D26 on J63
NET "FMC_LPC_LA27_N"                LOC = "R32";    ## C27 on J63
NET "FMC_LPC_LA27_P"                LOC = "R31";    ## C26 on J63
NET "FMC_LPC_LA28_N"                LOC = "M33";    ## H32 on J63
NET "FMC_LPC_LA28_P"                LOC = "N33";    ## H31 on J63
NET "FMC_LPC_LA29_N"                LOC = "P34";    ## G31 on J63
NET "FMC_LPC_LA29_P"                LOC = "N34";    ## G30 on J63
NET "FMC_LPC_LA30_N"                LOC = "M27";    ## H35 on J63
NET "FMC_LPC_LA30_P"                LOC = "M26";    ## H34 on J63
NET "FMC_LPC_LA31_N"                LOC = "L31";    ## G34 on J63
NET "FMC_LPC_LA31_P"                LOC = "M31";    ## G33 on J63
NET "FMC_LPC_LA32_N"                LOC = "M25";    ## H38 on J63
NET "FMC_LPC_LA32_P"                LOC = "N25";    ## H37 on J63
NET "FMC_LPC_LA33_N"                LOC = "K31";    ## G37 on J63
NET "FMC_LPC_LA33_P"                LOC = "K32";    ## G36 on J63
NET "FMC_LPC_PRSNT_M2C_L"           LOC = "AD9";    ## H2  on J63
