NET "FMC_CLK0_M2C_N"            LOC = "K23";    ## H5  on J64
NET "FMC_CLK0_M2C_P"            LOC = "K24";    ## H4  on J64
NET "FMC_CLK1_M2C_N"            LOC = "AP21";   ## G3  on J64
NET "FMC_CLK1_M2C_P"            LOC = "AP20";   ## G2  on J64
NET "FMC_CLK2_M2C_IO_N"         LOC = "AC30";   ## 15  on U83
NET "FMC_CLK2_M2C_IO_P"         LOC = "AD30";   ## 16  on U83
NET "FMC_CLK2_M2C_MGT_C_N"      LOC = "AB5";    ## 2   on series C399 0.1uF
NET "FMC_CLK2_M2C_MGT_C_P"      LOC = "AB6";    ## 2   on series C398 0.1uF
NET "FMC_CLK3_M2C_IO_N"         LOC = "AF34";   ## J3  on J64
NET "FMC_CLK3_M2C_IO_P"         LOC = "AE34";   ## J2  on J64
NET "FMC_CLK3_M2C_MGT_C_N"      LOC = "AH5";    ## 2   on series C397 0.1uF
NET "FMC_CLK3_M2C_MGT_C_P"      LOC = "AH6";    ## 2   on series C396 0.1uF
NET "FMC_DP0_C2M_N"             LOC = "AB2";    ## C3  on J64
NET "FMC_DP0_C2M_P"             LOC = "AB1";    ## C2  on J64
NET "FMC_DP0_M2C_N"             LOC = "AC4";    ## C7  on J64
NET "FMC_DP0_M2C_P"             LOC = "AC3";    ## C6  on J64
NET "FMC_DP1_C2M_N"             LOC = "AD2";    ## A23 on J64
NET "FMC_DP1_C2M_P"             LOC = "AD1";    ## A22 on J64
NET "FMC_DP1_M2C_N"             LOC = "AE4";    ## A3  on J64
NET "FMC_DP1_M2C_P"             LOC = "AE3";    ## A2  on J64
NET "FMC_DP2_C2M_N"             LOC = "AF2";    ## A27 on J64
NET "FMC_DP2_C2M_P"             LOC = "AF1";    ## A26 on J64
NET "FMC_DP2_M2C_N"             LOC = "AF6";    ## A7  on J64
NET "FMC_DP2_M2C_P"             LOC = "AF5";    ## A6  on J64
NET "FMC_DP3_C2M_N"             LOC = "AH2";    ## A31 on J64
NET "FMC_DP3_C2M_P"             LOC = "AH1";    ## A30 on J64
NET "FMC_DP3_M2C_N"             LOC = "AG4";    ## A11 on J64
NET "FMC_DP3_M2C_P"             LOC = "AG3";    ## A10 on J64
NET "FMC_DP4_C2M_N"             LOC = "AK2";    ## A35 on J64
NET "FMC_DP4_C2M_P"             LOC = "AK1";    ## A34 on J64
NET "FMC_DP4_M2C_N"             LOC = "AJ4";    ## A15 on J64
NET "FMC_DP4_M2C_P"             LOC = "AJ3";    ## A14 on J64
NET "FMC_DP5_C2M_N"             LOC = "AM2";    ## A39 on J64
NET "FMC_DP5_C2M_P"             LOC = "AM1";    ## A38 on J64
NET "FMC_DP5_M2C_N"             LOC = "AL4";    ## A19 on J64
NET "FMC_DP5_M2C_P"             LOC = "AL3";    ## A18 on J64
NET "FMC_DP6_C2M_N"             LOC = "AN4";    ## B37 on J64
NET "FMC_DP6_C2M_P"             LOC = "AN3";    ## B36 on J64
NET "FMC_DP6_M2C_N"             LOC = "AM6";    ## B17 on J64
NET "FMC_DP6_M2C_P"             LOC = "AM5";    ## B16 on J64
NET "FMC_DP7_C2M_N"             LOC = "AP2";    ## B33 on J64
NET "FMC_DP7_C2M_P"             LOC = "AP1";    ## B32 on J64
NET "FMC_DP7_M2C_N"             LOC = "AP6";    ## B13 on J64
NET "FMC_DP7_M2C_P"             LOC = "AP5";    ## B12 on J64
NET "FMC_GBTCLK0_M2C_N"         LOC = "AD5";    ## D5  on J64
NET "FMC_GBTCLK0_M2C_P"         LOC = "AD6";    ## D4  on J64
NET "FMC_GBTCLK1_M2C_N"         LOC = "AK5";    ## B21 on J64
NET "FMC_GBTCLK1_M2C_P"         LOC = "AK6";    ## B20 on J64
NET "FMC_HA00_CC_N"             LOC = "AF33";   ## F5  on J64
NET "FMC_HA00_CC_P"             LOC = "AE33";   ## F4  on J64
NET "FMC_HA01_CC_N"             LOC = "AC29";   ## E3  on J64
NET "FMC_HA01_CC_P"             LOC = "AD29";   ## E2  on J64
NET "FMC_HA02_N"                LOC = "AC25";   ## K8  on J64
NET "FMC_HA02_P"                LOC = "AB25";   ## K7  on J64
NET "FMC_HA03_N"                LOC = "Y26";    ## J7  on J64
NET "FMC_HA03_P"                LOC = "AA25";   ## J6  on J64
NET "FMC_HA04_N"                LOC = "AC28";   ## F8  on J64
NET "FMC_HA04_P"                LOC = "AB28";   ## F7  on J64
NET "FMC_HA05_N"                LOC = "AC27";   ## E7  on J64
NET "FMC_HA05_P"                LOC = "AB27";   ## E6  on J64
NET "FMC_HA06_N"                LOC = "AA29";   ## K11 on J64
NET "FMC_HA06_P"                LOC = "AA28";   ## K10 on J64
NET "FMC_HA07_N"                LOC = "AB26";   ## J10 on J64
NET "FMC_HA07_P"                LOC = "AA26";   ## J9  on J64
NET "FMC_HA08_N"                LOC = "AF31";   ## F11 on J64
NET "FMC_HA08_P"                LOC = "AG31";   ## F10 on J64
NET "FMC_HA09_N"                LOC = "AB31";   ## E10 on J64
NET "FMC_HA09_P"                LOC = "AB30";   ## E9  on J64
NET "FMC_HA10_N"                LOC = "AC34";   ## K14 on J64
NET "FMC_HA10_P"                LOC = "AD34";   ## K13 on J64
NET "FMC_HA11_N"                LOC = "AG32";   ## J13 on J64
NET "FMC_HA11_P"                LOC = "AG33";   ## J12 on J64
NET "FMC_HA12_N"                LOC = "AE32";   ## F14 on J64
NET "FMC_HA12_P"                LOC = "AD32";   ## F13 on J64
NET "FMC_HA13_N"                LOC = "AD31";   ## E13 on J64
NET "FMC_HA13_P"                LOC = "AE31";   ## E12 on J64
NET "FMC_HA14_N"                LOC = "AA31";   ## J16 on J64
NET "FMC_HA14_P"                LOC = "AA30";   ## J15 on J64
NET "FMC_HA15_N"                LOC = "AC32";   ## F17 on J64
NET "FMC_HA15_P"                LOC = "AB32";   ## F16 on J64
NET "FMC_HA16_N"                LOC = "AB33";   ## E16 on J64
NET "FMC_HA16_P"                LOC = "AC33";   ## E15 on J64
NET "FMC_HA17_CC_N"             LOC = "W30";    ## K17 on J64
NET "FMC_HA17_CC_P"             LOC = "V30";    ## K16 on J64
NET "FMC_HA18_N"                LOC = "T34";    ## J19 on J64
NET "FMC_HA18_P"                LOC = "T33";    ## J18 on J64
NET "FMC_HA19_N"                LOC = "U32";    ## F20 on J64
NET "FMC_HA19_P"                LOC = "U33";    ## F19 on J64
NET "FMC_HA20_N"                LOC = "V33";    ## E19 on J64
NET "FMC_HA20_P"                LOC = "V32";    ## E18 on J64
NET "FMC_HA21_N"                LOC = "U30";    ## K20 on J64
NET "FMC_HA21_P"                LOC = "U31";    ## K19 on J64
NET "FMC_HA22_N"                LOC = "V29";    ## J22 on J64
NET "FMC_HA22_P"                LOC = "U28";    ## J21 on J64
NET "FMC_HA23_N"                LOC = "U27";    ## K23 on J64
NET "FMC_HA23_P"                LOC = "U26";    ## K22 on J64
NET "FMC_HB00_CC_N"             LOC = "AG30";   ## K26 on J64
NET "FMC_HB00_CC_P"             LOC = "AF30";   ## K25 on J64
NET "FMC_HB01_N"                LOC = "AM32";   ## J25 on J64
NET "FMC_HB01_P"                LOC = "AN32";   ## J24 on J64
NET "FMC_HB02_N"                LOC = "AP33";   ## F23 on J64
NET "FMC_HB02_P"                LOC = "AP32";   ## F22 on J64
NET "FMC_HB03_N"                LOC = "AM31";   ## E22 on J64
NET "FMC_HB03_P"                LOC = "AL30";   ## E21 on J64
NET "FMC_HB04_N"                LOC = "AL33";   ## F26 on J64
NET "FMC_HB04_P"                LOC = "AM33";   ## F25 on J64
NET "FMC_HB05_N"                LOC = "AN34";   ## E25 on J64
NET "FMC_HB05_P"                LOC = "AN33";   ## E24 on J64
NET "FMC_HB06_CC_N"             LOC = "AE26";   ## K29 on J64
NET "FMC_HB06_CC_P"             LOC = "AF26";   ## K28 on J64
NET "FMC_HB07_N"                LOC = "AH34";   ## J28 on J64
NET "FMC_HB07_P"                LOC = "AJ34";   ## J27 on J64
NET "FMC_HB08_N"                LOC = "AK32";   ## F29 on J64
NET "FMC_HB08_P"                LOC = "AK33";   ## F28 on J64
NET "FMC_HB09_N"                LOC = "AK34";   ## E28 on J64
NET "FMC_HB09_P"                LOC = "AL34";   ## E27 on J64
NET "FMC_HB10_N"                LOC = "AF29";   ## K32 on J64
NET "FMC_HB10_P"                LOC = "AF28";   ## K31 on J64
NET "FMC_HB11_N"                LOC = "AJ30";   ## J31 on J64
NET "FMC_HB11_P"                LOC = "AJ29";   ## J30 on J64
NET "FMC_HB12_N"                LOC = "AJ32";   ## F32 on J64
NET "FMC_HB12_P"                LOC = "AJ31";   ## F31 on J64
NET "FMC_HB13_N"                LOC = "AH32";   ## E31 on J64
NET "FMC_HB13_P"                LOC = "AH33";   ## E30 on J64
NET "FMC_HB14_N"                LOC = "AD27";   ## K35 on J64
NET "FMC_HB14_P"                LOC = "AE27";   ## K34 on J64
NET "FMC_HB15_N"                LOC = "AE29";   ## J34 on J64
NET "FMC_HB15_P"                LOC = "AE28";   ## J33 on J64
NET "FMC_HB16_N"                LOC = "AH30";   ## F35 on J64
NET "FMC_HB16_P"                LOC = "AH29";   ## F34 on J64
NET "FMC_HB17_CC_N"             LOC = "AG28";   ## K38 on J64
NET "FMC_HB17_CC_P"             LOC = "AG27";   ## K37 on J64
NET "FMC_HB18_N"                LOC = "AD26";   ## J37 on J64
NET "FMC_HB18_P"                LOC = "AD25";   ## J36 on J64
NET "FMC_HB19_N"                LOC = "AK31";   ## E34 on J64
NET "FMC_HB19_P"                LOC = "AL31";   ## E33 on J64
NET "FMC_LA00_CC_N"             LOC = "AF21";   ## G7  on J64
NET "FMC_LA00_CC_P"             LOC = "AF20";   ## G6  on J64
NET "FMC_LA01_CC_N"             LOC = "AL19";   ## D9  on J64
NET "FMC_LA01_CC_P"             LOC = "AK19";   ## D8  on J64
NET "FMC_LA02_N"                LOC = "AD20";   ## H8  on J64
NET "FMC_LA02_P"                LOC = "AC20";   ## H7  on J64
NET "FMC_LA03_N"                LOC = "AD19";   ## G10 on J64
NET "FMC_LA03_P"                LOC = "AC19";   ## G9  on J64
NET "FMC_LA04_N"                LOC = "AE19";   ## H11 on J64
NET "FMC_LA04_P"                LOC = "AF19";   ## H10 on J64
NET "FMC_LA05_N"                LOC = "AH22";   ## D12 on J64
NET "FMC_LA05_P"                LOC = "AG22";   ## D11 on J64
NET "FMC_LA06_N"                LOC = "AG21";   ## C11 on J64
NET "FMC_LA06_P"                LOC = "AG20";   ## C10 on J64
NET "FMC_LA07_N"                LOC = "AJ21";   ## H14 on J64
NET "FMC_LA07_P"                LOC = "AK21";   ## H13 on J64
NET "FMC_LA08_N"                LOC = "AJ22";   ## G13 on J64
NET "FMC_LA08_P"                LOC = "AK22";   ## G12 on J64
NET "FMC_LA09_N"                LOC = "AL18";   ## D15 on J64
NET "FMC_LA09_P"                LOC = "AM18";   ## D14 on J64
NET "FMC_LA10_N"                LOC = "AL20";   ## C15 on J64
NET "FMC_LA10_P"                LOC = "AM20";   ## C14 on J64
NET "FMC_LA11_N"                LOC = "AN22";   ## H17 on J64
NET "FMC_LA11_P"                LOC = "AM22";   ## H16 on J64
NET "FMC_LA12_N"                LOC = "AL21";   ## G16 on J64
NET "FMC_LA12_P"                LOC = "AM21";   ## G15 on J64
NET "FMC_LA13_N"                LOC = "AN18";   ## D18 on J64
NET "FMC_LA13_P"                LOC = "AP19";   ## D17 on J64
NET "FMC_LA14_N"                LOC = "AN20";   ## C19 on J64
NET "FMC_LA14_P"                LOC = "AN19";   ## C18 on J64
NET "FMC_LA15_N"                LOC = "AL23";   ## H20 on J64
NET "FMC_LA15_P"                LOC = "AM23";   ## H19 on J64
NET "FMC_LA16_N"                LOC = "AN23";   ## G19 on J64
NET "FMC_LA16_P"                LOC = "AP22";   ## G18 on J64
NET "FMC_LA17_CC_N"             LOC = "AM27";   ## D21 on J64
NET "FMC_LA17_CC_P"             LOC = "AN27";   ## D20 on J64
NET "FMC_LA18_CC_N"             LOC = "AJ25";   ## C23 on J64
NET "FMC_LA18_CC_P"             LOC = "AH25";   ## C22 on J64
NET "FMC_LA19_N"                LOC = "AN24";   ## H23 on J64
NET "FMC_LA19_P"                LOC = "AN25";   ## H22 on J64
NET "FMC_LA20_N"                LOC = "AL24";   ## G22 on J64
NET "FMC_LA20_P"                LOC = "AK23";   ## G21 on J64
NET "FMC_LA21_N"                LOC = "AP29";   ## H26 on J64
NET "FMC_LA21_P"                LOC = "AN29";   ## H25 on J64
NET "FMC_LA22_N"                LOC = "AP26";   ## G25 on J64
NET "FMC_LA22_P"                LOC = "AP27";   ## G24 on J64
NET "FMC_LA23_N"                LOC = "AM26";   ## D24 on J64
NET "FMC_LA23_P"                LOC = "AL26";   ## D23 on J64
NET "FMC_LA24_N"                LOC = "AM30";   ## H29 on J64
NET "FMC_LA24_P"                LOC = "AN30";   ## H28 on J64
NET "FMC_LA25_N"                LOC = "AM28";   ## G28 on J64
NET "FMC_LA25_P"                LOC = "AN28";   ## G27 on J64
NET "FMC_LA26_N"                LOC = "AL25";   ## D27 on J64
NET "FMC_LA26_P"                LOC = "AM25";   ## D26 on J64
NET "FMC_LA27_N"                LOC = "AP31";   ## C27 on J64
NET "FMC_LA27_P"                LOC = "AP30";   ## C26 on J64
NET "FMC_LA28_N"                LOC = "AJ27";   ## H32 on J64
NET "FMC_LA28_P"                LOC = "AK27";   ## H31 on J64
NET "FMC_LA29_N"                LOC = "AK28";   ## G31 on J64
NET "FMC_LA29_P"                LOC = "AL28";   ## G30 on J64
NET "FMC_LA30_N"                LOC = "AK24";   ## H35 on J64
NET "FMC_LA30_P"                LOC = "AJ24";   ## H34 on J64
NET "FMC_LA31_N"                LOC = "AK29";   ## G34 on J64
NET "FMC_LA31_P"                LOC = "AL29";   ## G33 on J64
NET "FMC_LA32_N"                LOC = "AG26";   ## H38 on J64
NET "FMC_LA32_P"                LOC = "AG25";   ## H37 on J64
NET "FMC_LA33_N"                LOC = "AH24";   ## G37 on J64
NET "FMC_LA33_P"                LOC = "AH23";   ## G36 on J64
NET "FMC_PG_M2C_LS"             LOC = "J27";    ## F1  on J64
NET "FMC_PRSNT_M2C_L"           LOC = "AP25";   ## H2  on J64
