## 200 MHz Clock input
NET  "SYSCLK_P"         LOC = R3   | IOSTANDARD=DIFF_SSTL15;  # Bank  34 VCCO - FPGA_1V5 - IO_L13P_T2_MRCC_34
NET  "SYSCLK_N"         LOC = P3   | IOSTANDARD=DIFF_SSTL15;  # Bank  34 VCCO - FPGA_1V5 - IO_L13N_T2_MRCC_34

NET  "PHY_RSTN"         LOC = V18  | IOSTANDARD=HSTL_I_18; # Bank  13 VCCO - FPGA_1V8 - IO_L19P_T3_13

# RGMII
NET  "RGMII_TX_CLK"     LOC = U22  | IOSTANDARD=HSTL_I_18; # Bank  13 VCCO - FPGA_1V8 - IO_L12P_T1_MRCC_13
NET  "RGMII_RX_CLK"     LOC = U21  | IOSTANDARD=HSTL_I_18; # Bank  13 VCCO - FPGA_1V8 - IO_L13P_T2_MRCC_13
NET  "RGMII_TX_CTRL"    LOC = T15  | IOSTANDARD=HSTL_I_18; # Bank  13 VCCO - FPGA_1V8 - IO_L20N_T3_13
NET  "RGMII_TXD<3>"     LOC = T17  | IOSTANDARD=HSTL_I_18; # Bank  13 VCCO - FPGA_1V8 - IO_L21P_T3_DQS_13
NET  "RGMII_TXD<2>"     LOC = T18  | IOSTANDARD=HSTL_I_18; # Bank  13 VCCO - FPGA_1V8 - IO_L21N_T3_DQS_13
NET  "RGMII_TXD<1>"     LOC = U15  | IOSTANDARD=HSTL_I_18; # Bank  13 VCCO - FPGA_1V8 - IO_L22P_T3_13
NET  "RGMII_TXD<0>"     LOC = U16  | IOSTANDARD=HSTL_I_18; # Bank  13 VCCO - FPGA_1V8 - IO_L22N_T3_13
NET  "RGMII_RX_CTRL"    LOC = U14  | IOSTANDARD=HSTL_I_18; # Bank  13 VCCO - FPGA_1V8 - IO_L23P_T3_13
NET  "RGMII_RXD<3>"     LOC = V14  | IOSTANDARD=HSTL_I_18; # Bank  13 VCCO - FPGA_1V8 - IO_L23N_T3_13
NET  "RGMII_RXD<2>"     LOC = V16  | IOSTANDARD=HSTL_I_18; # Bank  13 VCCO - FPGA_1V8 - IO_L24P_T3_13
NET  "RGMII_RXD<1>"     LOC = V17  | IOSTANDARD=HSTL_I_18; # Bank  13 VCCO - FPGA_1V8 - IO_L24N_T3_13
NET  "RGMII_RXD<0>"     LOC = U17  | IOSTANDARD=HSTL_I_18; # Bank  13 VCCO - FPGA_1V8 - IO_25_13

# Blinking lights
NET  "LED<0>"           LOC = M26  | IOSTANDARD=LVCMOS33; # Bank  14 VCCO - FPGA_3V3 - IO_L20N_T3_A07_D23_14
NET  "LED<1>"           LOC = T24  | IOSTANDARD=LVCMOS33; # Bank  14 VCCO - FPGA_3V3 - IO_L21P_T3_DQS_14
NET  "LED<2>"           LOC = T25  | IOSTANDARD=LVCMOS33; # Bank  14 VCCO - FPGA_3V3 - IO_L21N_T3_DQS_A06_D22_14
NET  "LED<3>"           LOC = R26  | IOSTANDARD=LVCMOS33; # Bank  14 VCCO - FPGA_3V3 - IO_L22P_T3_A05_D21_14

NET "RESET"             LOC = U4   | IOSTANDARD=LVCMOS15;

# More-or-less fake attachment to FMC; I have no plans to hook this up
NET "SCLK"              LOC = H15  | IOSTANDARD=LVCMOS25;
NET "CSB"               LOC = H14  | IOSTANDARD=LVCMOS25;
NET "MOSI"              LOC = F17  | IOSTANDARD=LVCMOS25;

# 125 MHz clock from RGMII PHY
NET "RGMII_RX_CLK" TNM_NET = "RGMII_RX_CLK";
TIMESPEC "TS_PHY_RX_CLK" = PERIOD "RGMII_RX_CLK" 7.2 ns HIGH 50% INPUT_JITTER 1 ns;

# UG471 page 50
INTERNAL_VREF_BANK13 = 0.90;

# 200-MHz system clock
NET "SYSCLK_P" TNM_NET = "SYSCLK_P";
TIMESPEC "TS_SYSCLK_P" = PERIOD "SYSCLK_P"  4.8 ns HIGH 50% INPUT_JITTER 0.05 ns;
NET "SYSCLK_N" TNM_NET = "SYSCLK_N";
TIMESPEC "TS_SYSCLK_N" = PERIOD "SYSCLK_N"  4.8 ns HIGH 50% INPUT_JITTER 0.05 ns;
