badger_test:
  extends: .build-matrix
  image: $IMAGE
  stage: test
  before_script:
    - cd badger/tests && make clean && sh ./tap-setup.sh
  script:
    - make && bash tftp_test.sh && bash speed_check.sh

.badger-targets:
  parallel:
    TARGET: [ac701, obsidian]

.badger-matrix:
  extends:
    - .build-images
    - .badger-targets

.badger-build-matrix:
  variables: !reference [.build-matrix, variables]
  parallel:
    matrix:
      - !reference [.badger-matrix, parallel]

badger_top:
  extends: .badger-build-matrix
  image: $IMAGE
  stage: synthesis
  before_script:
    - cd badger/tests && ls /non-free
  script:
    - PATH=$XILINX_VIVADO/bin:$PATH make ${TARGET}_rgmii_vtest.bit
  artifacts:
    name: "$CI_JOB_NAME-$CI_COMMIT_REF_NAME"
    expire_in: 2 days
    paths:
      - badger/tests/_xilinx/${TARGET}_rgmii_test.reports
      - badger/tests/${TARGET}_rgmii_vtest.bit

.badger-run-matrix:
  variables: !reference [.build-matrix, variables]
  parallel:
    matrix:
      - !reference [.build-images, parallel]

badger_ac701_run:
  extends: .badger-run-matrix
  image: $IMAGE
  stage: program
  tags:
    - deploy
  needs:
    - job: badger_top
      parallel:
        matrix:
          - TARGET: ac701
            IMAGE: $IMAGE
      artifacts: true
  script:
    - cd badger/tests && test -r ac701_rgmii_vtest.bit && SERIAL_NUM_OPT="-s 210203356870" sh teststand_ac701.sh
  environment: hw_ac701
  resource_group: hw_ac701
