check_image:
  image: docker:stable
  stage: check
  script: |
    export DOCKER_CLI_EXPERIMENTAL=enabled
    docker manifest inspect \
      $CONTAINER_IMAGE:$CI_COMMIT_REF_NAME > /dev/null && exit 0 || exit 1

build:
  image: docker:stable
  stage: build
  before_script:
    - cat /etc/hosts
    - cat /etc/resolv.conf
    - docker info
    - echo $CONTAINER_IMAGE:$CI_COMMIT_REF_NAME
    - echo $CONTAINER_IMAGE:$CI_COMMIT_SHORT_SHA
    - echo $CONTAINER_IMAGE:$CI_PROJECT_NAME-$CI_COMMIT_SHORT_SHA
  script: |
    docker pull $CONTAINER_IMAGE:latest || true
    docker build --cache-from $CONTAINER_IMAGE:latest \
        -t $CONTAINER_IMAGE:$CI_COMMIT_REF_NAME \
        -t $CONTAINER_IMAGE:$CI_PROJECT_NAME-$CI_COMMIT_SHORT_SHA \
        -t $CONTAINER_IMAGE:latest \
        .
    docker run --rm $CONTAINER_IMAGE bash -c 'echo -n "Debian version: "; cat "/etc/debian_version"'
    docker push $CONTAINER_IMAGE:$CI_COMMIT_REF_NAME
    docker push $CONTAINER_IMAGE:$CI_PROJECT_NAME-$CI_COMMIT_SHORT_SHA
    docker push $CONTAINER_IMAGE:latest
  rules:
    - when: on_failure
    - if: '$CI_COMMIT_BRANCH == "master"'
    - if: $CI_COMMIT_BRANCH
      changes:
        - Dockerfile*
        - .gitlab/ci/build.gitlab-ci.yml
