check_rebuild:
  image: docker:stable
  stage: build
  script: |
    echo "DOCKER_IMAGE_REBUILD=1" > build.env
  artifacts:
    reports:
      dotenv: build.env
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
    - if: $CI_COMMIT_BRANCH
      changes:
        - Dockerfile*
        - .gitlab/ci/build.gitlab-ci.yml

check_exists:
  image: docker:stable
  stage: build
  script: |
    export DOCKER_CLI_EXPERIMENTAL=enabled
    docker manifest inspect \
      $CONTAINER_IMAGE:$CI_COMMIT_REF_NAME > /dev/null && \
    DOCKER_IMAGE_EXISTS=1 || DOCKER_IMAGE_EXISTS=0
    echo "DOCKER_IMAGE_EXISTS=${DOCKER_IMAGE_BUILD}" > build.env
  artifacts:
    reports:
      dotenv: build.env

build:
  image: docker:stable
  stage: build
  before_script:
    - cat /etc/hosts
    - cat /etc/resolv.conf
    - docker info
    - echo $CONTAINER_IMAGE:$CI_COMMIT_REF_NAME
    - echo $CONTAINER_IMAGE:$CI_COMMIT_SHORT_SHA
    - echo $CONTAINER_IMAGE:$CI_PROJECT_NAME-$CI_COMMIT_SHORT_SHA
  needs:
    - job: check_rebuild
      optional: true
    - job: check_exists
      optional: true
  script: |
    echo "DOCKER_IMAGE_REBUILD=${DOCKER_IMAGE_REBUILD}"
    echo "DOCKER_IMAGE_EXISTS=${DOCKER_IMAGE_EXISTS}"
    if [ -n "$DOCKER_IMAGE_REBUILD" ] && \
        [ "$DOCKER_IMAGE_REBUILD" == "0" ] && \
        [ "$DOCKER_IMAGE_EXISTS" == "1"]; then
      exit 0
    fi
    docker pull $CONTAINER_IMAGE:latest || true
    docker build --cache-from $CONTAINER_IMAGE:latest \
        -t $CONTAINER_IMAGE:$CI_COMMIT_REF_NAME \
        -t $CONTAINER_IMAGE:$CI_PROJECT_NAME-$CI_COMMIT_SHORT_SHA \
        -t $CONTAINER_IMAGE:latest \
        .
    docker run --rm $CONTAINER_IMAGE bash -c 'echo -n "Debian version: "; cat "/etc/debian_version"'
    docker push $CONTAINER_IMAGE:$CI_COMMIT_REF_NAME
    docker push $CONTAINER_IMAGE:$CI_PROJECT_NAME-$CI_COMMIT_SHORT_SHA
    docker push $CONTAINER_IMAGE:latest

