build:
  extends: .build-matrix
  image: docker:stable
  stage: build
  services:
    - name: mohs.dhcp.lbl.gov/docker:20.10.12-dind
      command: ["--insecure-registry", "mohs.dhcp.lbl.gov"]
      alias: docker
  before_script:
    - cat /etc/hosts
    - cat /etc/resolv.conf
    - docker info
    - docker info
    - echo $IMAGE:$CI_COMMIT_REF_NAME
    - echo $IMAGE:$CI_COMMIT_SHORT_SHA
    - echo $IMAGE:$CI_PROJECT_NAME-$CI_COMMIT_SHORT_SHA
  script: |
    IMAGE_BASENAME=${IMAGE##*/}
    docker pull $IMAGE:latest || true
    docker build --cache-from $IMAGE:latest \
        -t $IMAGE:$CI_COMMIT_REF_NAME \
        -t $IMAGE:$CI_PROJECT_NAME-$CI_COMMIT_SHORT_SHA \
        -t $IMAGE:latest \
        -f Dockerfile.${IMAGE_BASENAME} \
        .
    docker run --rm $IMAGE bash -c 'echo -n "Debian version: "; cat "/etc/debian_version"'
    docker push $IMAGE:$CI_COMMIT_REF_NAME
    docker push $IMAGE:$CI_PROJECT_NAME-$CI_COMMIT_SHORT_SHA
    docker push $IMAGE:latest
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
    - if: $CI_COMMIT_BRANCH
      changes:
        - Dockerfile*
        - .gitlab/ci/build.gitlab-ci.yml
