dsp_test:
  extends: .build-matrix
  image: $IMAGE
  before_script:
    - cd dsp
  stage: test
  script:
    - make && make checks

dsp_hosted_test:
  extends: .build-matrix
  image: $IMAGE
  before_script:
    - cd dsp/hosted
  stage: test
  script:
    - make && make checks

digaree_test:
  extends: .build-matrix
  image: $IMAGE
  before_script:
    - cd dsp/digaree
  stage: test
  script:
    - make

feedforward_test:
  extends: .build-matrix
  image: $IMAGE
  before_script:
    - cd dsp/feedforward
  stage: test
  script:
    - make

chirp_test:
  extends: .build-matrix
  image: $IMAGE
  before_script:
    - cd dsp/chirp
  stage: test
  script:
    - make && make checks
