dsp_test:
  extends: .build-matrix
  image: $IMAGE
  before_script:
    - cd dsp
  stage: test
  script:
    - make && make checks

dsp_hosted_test:
  extends: .build-matrix
  image: $IMAGE
  before_script:
    - pip install cocotb==1.9.2 pytest cocotb-bus
    - cd dsp/hosted && export PYTHONPATH=../../build-tools/
  stage: test
  script:
    - make && make checks
  artifacts:
    name: "$CI_JOB_NAME-$CI_COMMIT_REF_NAME"
    expire_in: 1 week
    paths:
      - dsp/hosted/fdbk_core_plot.pdf

digaree_test:
  extends: .build-matrix
  image: $IMAGE
  before_script:
    - cd dsp/digaree
  stage: test
  script:
    - make

feedforward_test:
  extends: .build-matrix
  image: $IMAGE
  before_script:
    - cd dsp/feedforward
  stage: test
  script:
    - make

chirp_test:
  extends: .build-matrix
  image: $IMAGE
  before_script:
    - cd dsp/chirp
  stage: test
  script:
    - make && make checks
