dsp_test:
  extends: .build-matrix
  image: $IMAGE
  before_script:
    - cd dsp
  stage: test
  script:
    - make && make checks

dsp_hosted_test:
  extends: .build-matrix
  image: $IMAGE
  before_script:
    - cd dsp/hosted && export PYTHONPATH=../../build-tools/
  stage: test
  script:
    - make && make checks
  artifacts:
    name: "$CI_JOB_NAME-$CI_COMMIT_REF_NAME"
    expire_in: 1 week
    paths:
      - dsp/hosted/fdbk_core_plot.pdf

digaree_test:
  extends: .build-matrix
  image: $IMAGE
  before_script:
    - cd dsp/digaree
  stage: test
  script:
    - make

feedforward_test:
  extends: .build-matrix
  image: $IMAGE
  before_script:
    - cd dsp/feedforward
  stage: test
  script:
    - make

chirp_test:
  extends: .build-matrix
  image: $IMAGE
  before_script:
    - cd dsp/chirp
  stage: test
  script:
    - make && make checks

cic_simple_s_test:
  extends: .build-matrix
  image: $IMAGE
  before_script:
    - pip install numpy scipy cocotb==2.0.1 pytest cocotb-bus matplotlib
    - cd dsp
  stage: test
  script:
    - make TESTBENCH=cic_simple_s_tb -f Makefile_cocotb
