marble_sim:
  extends: .build-matrix
  image: $IMAGE
  stage: test
  script:
    - make -C projects/test_marble_family all net_slave_check
    - make -C projects/test_marble_family/pps_lock

.bitgen:
  stage: synthesis
  before_script:
    - cd projects/test_marble_family && ls /non-free
  artifacts:
    name: "$CI_JOB_NAME-$CI_COMMIT_REF_NAME"
    expire_in: 2 days

marble_mini_synth:
  extends:
    - .build-matrix
    - .bitgen
  image: $IMAGE
  script:
    - PATH=$XILINX_VIVADO/bin:$PATH make marble1.bit
  artifacts:
    paths:
      - projects/test_marble_family/marble*.bit
      - projects/test_marble_family/vivado.log
      - projects/test_marble_family/_xilinx/marble1.runs/*.rpt
      - projects/test_marble_family/_xilinx/marble1.runs/synth_1/marble_top_*.rpt
      - projects/test_marble_family/_xilinx/marble1.runs/impl_1/marble_top_*.rpt

marble_mini_run:
  extends: .build-matrix
  image: $IMAGE
  stage: program
  tags:
    - deploy
  dependencies:
    - marble_mini_synth
  before_script:
    - cd projects/test_marble_family && ln -s marble1.*.bit marble1.bit
  script:
    - make marble1_hwload && sleep 8 && make marble1_hwtest
  environment: hw_marble_mini
  resource_group: hw_marble_mini

marble_v2_synth:
  extends:
    - .build-matrix
    - .bitgen
  image: $IMAGE
  script:
    - PATH=$XILINX_VIVADO/bin:$PATH make marble2.bit
  artifacts:
    paths:
      - projects/test_marble_family/marble*.bit
      - projects/test_marble_family/vivado.log
      - projects/test_marble_family/_xilinx/marble2.runs/*.rpt
      - projects/test_marble_family/_xilinx/marble2.runs/synth_1/marble_top_*.rpt
      - projects/test_marble_family/_xilinx/marble2.runs/impl_1/marble_top_*.rpt

marble_run:
  extends: .build-matrix
  image: $IMAGE
  stage: program
  tags:
    - deploy
  dependencies:
    - marble_v2_synth
  before_script:
    - cd projects/test_marble_family && ln -s marble2.*.bit marble2.bit
  script:
    - make marble2_hwload SERIAL=39 && sleep 8 && make marble2_hwtest SERIAL=39
    - make -C i2c live_oneshot SERIAL=39
  environment: hw_marble
  resource_group: hw_marble

marble_i2c_check:
  extends: .build-matrix
  image: $IMAGE
  stage: test
  script:
    - make -C projects/test_marble_family/i2c tests
